<%= form_for(@condition) do |f| %>
  <% if @condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@condition.errors.count, "error") %> prohibited this condition from being saved:</h2>

      <ul>
      <% @condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :subscriber_number, "Number" %>
    <%= f.text_field :subscriber_number, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :type_cond, "Type" %>
    <%= f.select(:type_cond, options_for_select(["normal", "multiple"], @condition.type_cond), {},{ :class => 'form-control' } )%>
  </div>

  <div class="form-group">
    <%= f.label :rule %>
    <%= f.select :rule, options_for_select(["si", "no"], @condition.rule), {}, { :class => 'form-control' } %>
  </div>
  
  <div class="form-group">
    <%= f.label :prize_id %>
    <%= f.select :prize_id, options_for_select((Prize.all.map { |p| [p.name, p.id] }), @condition.prize_id),{}, { :class => 'form-control' } %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %>
    <%= link_to 'Back', conditions_path, class: "btn btn-default" %>
  </div>
<% end %>
