<%= form_for(@condition) do |f| %>
  <% if @condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@condition.errors.count, "error") %> prohibited this condition from being saved:</h2>

      <ul>
      <% @condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Number: <%= f.text_field :subscriber_number %></p>
  <p>Type: <%= f.select :type_cond, options_for_select(["normal", "multiplo"]) %></p>
  <p>Add rule: <%= f.select :rule, options_for_select(["si", "no"]) %></p>
  <p>Prize <%= f.select :prize_id, Prize.all.map { |p| [p.name, p.id] } %></p>

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
