<p id="notice"><%= notice %></p>

<h1>Listing Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Number</th>
      <th>Type</th>
      <th>Rule</th>
      <th>Prize</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conditions.each do |condition| %>
      <tr>
        <td><%= condition.id %></td>
        <td><%= condition.subscriber_number %></td>
        <td><%= condition.type_cond.try(:titleize) %></td>
        <td><%= condition.rule.try(:titleize) %></td>
        <td><%= condition.prize.try(:name) %> </td>
        <td><%= link_to 'Show', condition %></td>
        <td><%= link_to 'Edit', edit_condition_path(condition) %></td>
        <td><%= link_to 'Destroy', condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New condition', new_condition_path %>
