<!DOCTYPE html>
<html>
<head>
  <title>WebApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-3">
        <h3>Packen test</h3>
        <% if admin_signed_in? %>
          <h5>
            <%= current_admin.email %> 
            <%= link_to "Sign out", destroy_admin_session_path, method: :delete, class: "btn btn-danger btn-sm" %>
          </h5>
          <p>
            <%= link_to "Prizes", prizes_path, class: "btn btn-default btn-sm"%>
          </p>
          <p>
            <%= link_to "Conditions", conditions_path, class: "btn btn-default btn-sm"%>
          </p>
        <% else %>
          <h4>
            <%= link_to "Sign in", new_admin_session_path, class: 'btn btn-default btn-sm' %>
            <%= link_to "Register", new_admin_registration_path, class: 'btn btn-default btn-sm'%>
          </h4>
        <% end %>
      </div>
      <div class="col-xs-9">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert alert-info"%>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
