<h1>Packen Test Store </h1>
<blockquote>
  <p>
    Packen Test Store wants to rewards their clients, you just have to write your email in the following
    field and we will notice you if you are a winner, thanks.
  </p>
</blockquote>

<%= form_for @visitor do |f| %>
  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% @visitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <%= f.submit "Subscribe!", class: "btn btn-default btn-lg" %>
<% end %>
